Django>=3.2,<4.0
graphene-django>=2.15,<3.0
django-celery-beat>=2.2,<3.0
celery>=5.2,<6.0
django-prometheus>=2.1,<3.0
gunicorn>=20.1,<21.0
psycopg2-binary>=2.9,<3.0
prometheus_client>=0.14,<1.0
redis>=4.5,<5.0
django-cors-headers>=3.10,<4.0
django-redis>=5.2,<6.0
whitenoise
